
<nav class="navbar navbar-light bg-light fondo-violeta d-flex justify-content-center pb-1">
    <%= image_tag "logo_odontocheques_blanco.png" %>
</nav>

<div class="container my-5  ">

  <div class="row ">

    <div class="col-sm-12 col-md-3 col-lg-3 ">
      <%= render 'users/partials/columna_izq' %>
    </div>

    <div class="col-sm-12 col-md-9 col-lg-9">
      <div class="card-general card-marcas">
        <div class="d-flex justify-content-center mb-5">
          <%= image_tag "stepper_1.png" %>
        </div>
        <h2 class="text-center mb-5">Elija una marca</h2>
        <div class="d-flex mt-5">
          <% @brands.each do |brand| %>
            <div class="mr-3 d-flex justify-content-center align-items-center card-general card-tamano-logo ">
              <span class="mx-4">
                <%= link_to "#{image_tag brand.name, size: "150x100"}".html_safe, brand_path(brand.id) %>
              </span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


