.fondo-1 {
  background-image: url(fondos/background_1.jpg);
  height: 100vh;
}

.fondo-violeta {
  background-image: url(fondos/background_3.jpg);
}
.fondo-2 {
    background-image: url(fondos/background_2.jpg);
    height: 100%;
    background-size: cover;
}
