<nav class="mb-5 navbar navbar-light bg-light fondo-violeta d-flex justify-content-center pb-1">
    <%= image_tag "logo_odontocheques_blanco.png" %>
</nav>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-12 col-md-3 col-lg-3 ">
      <div class="card">
         hola
      </div>
    </div>

    <div class="col-sm-12 col-md-9 col-lg-9">
      <div class="card-general card-productos">
        <div class="d-flex justify-content-between">
          <h1>Productos</h1>
          <%= link_to "Volver", user_path(current_user), class: "btn btn-primary" %>
        </div>
        <div class="row row-cols-1 row-cols-md-3">
          <% @brand.products.each do |product| %>
            <div class="col-md-4 mt-5">
              <div class="mr-3 d-flex justify-content-center align-items-center card-general card-producto-blanca">
                <div><%= link_to "#{image_tag product.name, size: "200x190"}".html_safe, cheque_path(format: "pdf") %></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



