
<nav class="navbar navbar-light bg-light fondo-violeta d-flex justify-content-center pb-1">
    <%= image_tag "logo_odontocheques_blanco.png" %>
</nav>

<div class="container text-center">
  <div class="card-general">
    <%= image_tag "odontocheque-frente-sensodyne.png", size: '650' %>
    <div class="my-2">
      <%= link_to "imprimir", cheque_path(format: "pdf"), class: "btn btn-success" %>
      <%= link_to "Volver", root_path, class: "btn btn-warning" %>
    </div>
  </div>
</div>
